<div class="dashboard-container my-5">
  <div class="dashboard-info">
    <div class="dashboard-animal-info">
      <h3>Recently booked therapies</h3>
      <p>These are all the therapies you have booked.</p>
    </div>
    <div class="cards">
      <div class="card-therapy-container">
      <% @therapies.each do |therapy| %>
        <div class="card-therapy">
          <%= link_to edit_animal_therapy_path(@current_user.id) do  %>
          <div class="card-therapy-image">
            <%= cl_image_tag therapy.animal.photo, width: 230, height: 240, crop: :fill %>
          </div>
          <% end %>
          <div class="card-therapy-infos">
            <h4><%= therapy.animal.name %></h4>
            <p><strong><%= therapy.start_on %> - <%= therapy.end_on %></strong></p>
            <p><%= link_to 'Add new review', new_animal_review_path(therapy.animal) %></p>
          </div>
        </div>
    <% end %>
    </div>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="dashboard-container my-5">
  <div class="dashboard-info">
    <div class="dashboard-animal-info">
      <h3>Your listed animals</h3>
      <p>These are all the animals you have listed.</p>
    </div>
    <div class="cards">
      <% @animals.each do |animal| %>
        <div class="animal-show-link">
        <%= link_to animal_path(animal) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path animal.photo %>')">
            <%= animal.name %>
          <div class="animal-edit-link">
            <%= link_to edit_animal_path(animal) do %>
            <i class="fas fa-pen" style="color: rgba(255,255,255,0.4); font-size: 16px"></i>
            <% end %>
          </div>
          <div class="animal-delete-link">
            <%= link_to animal_path(animal), method: :delete do %>
              <i class="fas fa-trash" style="color: rgba(255,255,255,0.4); font-size: 16px"></i>
            <% end %>
          </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

