<div class="dashboard-container my-5">
  <div class="dashboard-info">
    <div class="dashboard-animal-info">
      <h3>Recently booked therapies</h3>
      <p>These are all the therapies you have booked.</p>
    </div>
    <div class="cards">
      <% @therapies.each do |therapy| %>
        <div class="card-trip">
          <%= link_to edit_animal_therapy_path(@current_user.id) do  %>
          <%= cl_image_tag therapy.animal.photo, crop: :fill %>
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= therapy.animal.name %></h2>
              <p><%= therapy.animal.description %></p>
            </div>
            <h2 class="card-trip-pricing">$<%= therapy.animal.price %></h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="dashboard-container my-5">
  <div class="dashboard-info">
    <div class="dashboard-animal-info">
      <h3>Your listed animals</h3>
      <p>These are all the animals you have listed.</p>
    </div>
    <div class="cards">
      <% @animals.each do |animal| %>
        <%= link_to animal_path(animal) do  %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path animal.photo %>')">
            <%= animal.name %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

