<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="search-form" style="box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 4px;">
    <%= render :partial => "shared/search-form" %>
  </div>
  <%= link_to root_path, class: "navbar-brand" do %>
    <img src="https://res.cloudinary.com/charmdev/image/upload/v1566800611/TherAnimal/animal-therapy.png" />
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li><%= link_to "All Animals", animals_path, class: "nav-link" %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Add an animal", new_animal_path, class: "nav-link" %></li>
        <li><%= link_to "My stuff", dashboard_path(current_user.id), class: "nav-link" %></li>
        <li class="nav-item dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://res.cloudinary.com/charmdev/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1566801585/cat.jpg" />
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Add an animal", new_animal_path, class: "dropdown-item" %>
            <%= link_to "My stuff", dashboard_path(current_user.id), class: "dropdown-item" %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path, class: "nav-link" %></li>
          <li><%= link_to "Register", new_user_session_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</div>
