<div class="card-container">
  <div class="cards-index">
    <% @animals.each do |animal| %>
      <div class="card-trip">
        <%= link_to animal do  %>
        <div id="heart-icon"><i class="fas fa-heart"></i></div>
        <% end %>
        <%= link_to animal_path(animal) do  %>
          <%= cl_image_tag animal.photo, crop: :fill %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= animal.name %></h2>
            <p><%= animal.description %></p>
          </div>
          <h2 class="card-trip-pricing">$<%= animal.price %></h2>
        </div>
      </div>
    <% end %>
  </div>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>


