<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @animal.photo %>');">
</div>

<div class="animal-container my-5">
  <div class="animal_info">
    <div class="animal_details">
      <div class="animal-heading"><h2>Meet <%= @animal.name %></h2></div>
        <%= rating_display(@animal) %>
      <div class="animal-species"><i class="fas fa-paw"></i> <em><%= @animal.species %> </em></div>
      <div class="rating">
        <%= rating_display(@animal) %>
        <% if @animal.reviews.present? %>
          <% @animal.reviews.each do |review| %>
            <%= review.description %>
          <% end %>
        <% end %>
      </div>

      <p> <%= @animal.description %> </p>
      <% if @animal.user == current_user %>
        <button type="button" class="btn-flat" data-toggle="modal" data-target="#edit_modal" >
          Edit
        </button>

      <div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="width: 800px;">
            <%= render 'edit', animal: @animal %>
            </div>
          </div>
        </div>
      <% end %>
      <% if @animal.user == current_user %>
        <%= link_to 'Delete', @animal, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
  <% if @animal.user != current_user %>
  <div class="therapies">
    <div class="therapy-price"><h5><strong>$<%= @animal.price %></strong><small> per day</small></h5></div>
    <div class="therapy-dates">
      <%= render 'therapies/form', animal: @animal, therapy: @therapy %>
    </div>
    <div class="therapy-charging-info"><p><small>You won't be charged yet.</small></p></div>
  </div>
  <% end %>
</div>



