<div class="container">
  <h1><%= @animal.name %></h1>

    <%= cl_image_tag @animal.photo, height: 300, width: 300, crop: :fill %>
    <%= @animal.species %>
    <%= @animal.price %>
    <%= @animal.description %>

  <%= link_to 'Edit', edit_animal_path(@animal)%>
  <%= link_to 'Delete', @animal, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<div class="container">
  <%= render 'therapies/form', animal: @animal, therapy: @therapy %>
</div>
