<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @animal.photo %>');">
</div>

<div class="animal-container my-5">
  <div class="animal-info">
    <div class="animal-details">
      <div class="animal-heading"><h2>Meet <%= @animal.name %></h2></div>
        <%= rating_display(@animal) %>
      <div class="animal-species"><i class="fas fa-paw"></i>   <em><%= @animal.species %></em></div>
        <div class="animal-location" style="margin-bottom: 16px"><i class="fas fa-map-pin"></i>  <%= @animal.address %></div>

      <p> <%= @animal.description %> </p>
      <% if current_user&.owns?(@animal) %>
        <button type="button" class="btn-flat" data-toggle="modal" data-target="#edit_modal" >
          Edit
        </button>

      <div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="width: 800px;">
            <%= render 'edit', animal: @animal %>
            </div>
          </div>
        </div>
      <% end %>
      <% if current_user&.owns?(@animal) %>
        <%= link_to 'Delete', @animal, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
  <% unless current_user&.owns?(@animal) %>
    <div class="therapies" style="margin-left: 16px">
      <div class="therapy-price"><h5><strong>$<%= @animal.price %></strong><small> per day</small></h5></div>
      <div class="therapy-dates">
        <%= render 'therapies/form', animal: @animal, therapy: @therapy %>
      </div>
      <div class="therapy-charging-info"><p><small>You won't be charged yet.</small></p></div>
    </div>
  <% end %>
</div>

<div class="animal-container">
  <div class="review-info" style="margin-bottom: 24px;">
    <div clas="reviews-heading" style="border-bottom: 2px solid rgba(230,230,230,0.5);">
      <h5><%= pluralize @animal.reviews.size, 'Review' %>  <%= rating_display(@animal) %></h5>
    </div>
    <% if @animal.reviews.present? %>
      <% @animal.reviews.each do |review| %>
        <div class="rating" style="border-bottom: 2px solid rgba(230,230,230,0.5); padding: 16px;">
          <%= review.description %>
        </div>
        <% end %>
      <% end %>
  </div>
</div>



