<h1><%= @animal.name %></h1>

<div class="container">
  <div class="animal_info">
    <div>
      <%= cl_image_tag @animal.photo, className: "animal_image", height: 300, width: 300, crop: :fill %>
    </div>
    <div class="animal_details">
      <p> Species: <%= @animal.species %> </p>
      <p> Price per Day: <%= @animal.price %> </p>
      <p> Description: <%= @animal.description %> </p>
      <%= link_to 'Edit', edit_animal_path(@animal)%>
      <%= link_to 'Delete', @animal, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <div class="therapies">
    <h3>Book me for therapy!</h3>
    <%= render 'therapies/form', animal: @animal, therapy: @therapy %>
  </div>
</div>


